In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
ww2_cas = Series((8700000,4300000,3000000,2100000,4000000),index=['USSR','Germay','China','Japan','USA'])
ww2_cas

USSR      8700000
Germay    4300000
China     3000000
Japan     2100000
USA       4000000
dtype: int64

In [9]:
ww2_cas['USA']

4000000

In [11]:
# Check which countries had cas greater than 4 mill
ww2_cas[ww2_cas > 4000000]

USSR      8700000
Germay    4300000
dtype: int64

In [12]:
'USSR' in ww2_cas

True

In [17]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 8700000,
 'Germay': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 4000000}

In [19]:
ww2_series = Series(ww2_dict)
ww2_series

USSR      8700000
Germay    4300000
China     3000000
Japan     2100000
USA       4000000
dtype: int64

In [25]:
countries = ['China','Germany','Japan','USSR','Argentina']

In [26]:
obj2 = Series(ww2_dict,index = countries)
obj2

China        3000000.0
Germany            NaN
Japan        2100000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [28]:
pd.isnull(obj2)

China        False
Germany       True
Japan        False
USSR         False
Argentina     True
dtype: bool

In [29]:
pd.notnull(obj2)

China         True
Germany      False
Japan         True
USSR          True
Argentina    False
dtype: bool

In [31]:
ww2_series

USSR      8700000
Germay    4300000
China     3000000
Japan     2100000
USA       4000000
dtype: int64

In [33]:
obj2

China        3000000.0
Germany            NaN
Japan        2100000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [37]:
ww2_series + obj2
obj2.name = "World War 2 Casulties"

In [39]:
obj2

China        3000000.0
Germany            NaN
Japan        2100000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casulties, dtype: float64

In [41]:
obj2.index.name = 'Countries'

In [42]:
obj2

Countries
China        3000000.0
Germany            NaN
Japan        2100000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casulties, dtype: float64