In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [11]:
ranger = range(15)
ranger

range(0, 15)

In [13]:
ser3.reindex(ranger,method = 'ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  1.059712 -0.217929  0.059038 -0.672883 -0.581558
B -0.914871 -0.451172 -0.855145 -0.002997  0.785772
D -1.553885  0.691761 -0.213867 -1.371684 -2.275890
E  0.802606  0.351358 -0.936405  1.133191  0.470521
F -0.897079  0.614745  0.086679  1.117095 -0.906291

In [15]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  1.059712 -0.217929  0.059038 -0.672883 -0.581558
B -0.914871 -0.451172 -0.855145 -0.002997  0.785772
C       NaN       NaN       NaN       NaN       NaN
D -1.553885  0.691761 -0.213867 -1.371684 -2.275890
E  0.802606  0.351358 -0.936405  1.133191  0.470521
F -0.897079  0.614745  0.086679  1.117095 -0.906291

In [16]:
new_columns = ['col1','col2','col3','col5','col6']

In [17]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col5  col6
A  1.059712 -0.217929  0.059038 -0.581558   NaN
B -0.914871 -0.451172 -0.855145  0.785772   NaN
C       NaN       NaN       NaN       NaN   NaN
D -1.553885  0.691761 -0.213867 -2.275890   NaN
E  0.802606  0.351358 -0.936405  0.470521   NaN
F -0.897079  0.614745  0.086679 -0.906291   NaN

In [22]:
dframe

       col1      col2      col3      col4      col5
A  1.059712 -0.217929  0.059038 -0.672883 -0.581558
B -0.914871 -0.451172 -0.855145 -0.002997  0.785772
D -1.553885  0.691761 -0.213867 -1.371684 -2.275890
E  0.802606  0.351358 -0.936405  1.133191  0.470521
F -0.897079  0.614745  0.086679  1.117095 -0.906291

In [27]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

       col1      col2      col3      col5  col6
A  1.059712 -0.217929  0.059038 -0.581558   NaN
B -0.914871 -0.451172 -0.855145  0.785772   NaN
C       NaN       NaN       NaN       NaN   NaN
D -1.553885  0.691761 -0.213867 -2.275890   NaN
E  0.802606  0.351358 -0.936405  0.470521   NaN
F -0.897079  0.614745  0.086679 -0.906291   NaN